<a href="https://colab.research.google.com/github/ratel0307/Python/blob/main/Ch2_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#02-1. 자료형과 문자열

##자료형과 기본 자료형  
가장 기본적인 자료형: 문자열, 숫자, 불

In [ ]:
print(type("안녕하세요"))

<class 'str'>

In [ ]:
print(type(273))

<class 'int'>

##문자열 만들기  
문자열은 영어로 string이라고 함  
이스케이프 문자: 역슬래시(\)기호와 함께 조합해서 사용하는 특수한 문자  
- \\: 큰따옴표를 의미
- \\': 작은따옴표를 의미

In [ ]:
print("\"안녕하세요\"라고 말했습니다.")

"안녕하세요"라고 말했습니다.

In [ ]:
print("안녕하세요\n안녕하세요")

안녕하세요
안녕하세요

In [ ]:
print("안녕하세요\t안녕하세요") #\t는 글자들을 표 형식으로 출력할 때 많이 사용됨

안녕하세요	안녕하세요

In [ ]:
print("이름\t나이\t지역")
print("윤인성\t25\t강서구")
print("임재선\t26\t성동구")

이름	나이	지역
윤인성	25	강서구
임재선	26	성동구

In [ ]:
print("안녕, 안녕")
print("내 이름은")
print()
print("임재선")

안녕, 안녕
내 이름은

임재선

여러 줄 문자열

In [ ]:
print("""동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세

In [ ]:
print("""
안녕
내 이름은
임재선
""")

안녕
내 이름은
임재선

In [ ]:
print("""\
안녕
내 이름은
임재선\
""")#줄을 바꿔 출력하지 않겠다고 선언

안녕
내 이름은
임재선

##문자열 연산자

In [ ]:
print("안녕"+"하세요")

안녕하세요

In [ ]:
print("안녕"+1) #문자열은 무조건 문자열끼리 + 연산자를 사용해서 연결해야 한다

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("안녕하세요"*3)

안녕하세요안녕하세요안녕하세요

문자 선택 연산자(인덱싱): [ ]

In [ ]:
print("안녕하세요"[1])

녕

In [ ]:
print("안녕하세요"[-1])

요

- 문자열 범위 선택연산자(슬라이싱): [:]

In [ ]:
print("안녕하세요"[1:4])

녕하세

In [ ]:
print("안녕하세요"[1:])

녕하세요

In [ ]:
print("안녕하세요"[:3])

안녕하

##문자열의 길이 구하기  
len()함수 사용하기

In [ ]:
print(len("안녕하세요"))

5

#02-2. 숫자  
소수점이 없는 숫자: 정수형(int)  
소수점이 있는 숫자: 실수형(float)

##숫자의 종류

In [ ]:
print(type(52))

<class 'int'>

In [ ]:
print(type(52.3))

<class 'float'>

##숫자 연산자
사칙연산자: +, -, *, /

In [ ]:
3//2 ##정수 나누기 연산자 (몫만 나와)

1

In [ ]:
7//2

3

In [ ]:
7%2 #나머지 연산자

1

In [ ]:
#제곱 연산자: **
print(2**3)

8

In [ ]:
2**3

8

##연산자의 우선순위
우리가 흔히 알고 있는거랑 같아

#02-3. 변수와 입력
변수란? 값을 저장할 때 사용하는 식별자

##변수 만들기/ 사용하기
변수 = 값  
: 값을 변수에 할당한다는 의미이다

In [ ]:
pi = 3.14159263
r = 10

print(2*pi*r)
print(pi*(r**2))

62.8318526
314.159263

##복합 대입 연산자

In [ ]:
a += 10

NameError: name 'a' is not defined

In [ ]:
number = 100

In [ ]:
number += 100

In [ ]:
number

200

In [ ]:
number //= 10

In [ ]:
number

20

문자열도 마찬가지로 복합 대입 연산자를 사용할 수 있음

In [ ]:
string = "안녕하세요"
string += "!"

In [ ]:
string

'안녕하세요!'

##사용자 입력: input()
파이썬은 명령 프롬프트에서 사용자로부터 데이터를 입력받을 때 input()함수를 사용한다

In [ ]:
input("인사말을 입력하세요> ")

인사말을 입력하세요> 안녕하세요

'안녕하세요'

In [ ]:
string = input("인사말을 입력하세요> ")

인사말을 입력하세요> 12345

In [ ]:
print(string)

12345

In [ ]:
type(string) #input()함수는 사용자가 무엇을 입력해도 결과는 무조건 문자열 자료형

str

##문자열을 숫자로 바꾸기

In [ ]:
string_a = input("입력A> ")
int_a = int(string_a)

입력A> 234

In [ ]:
type(string_a)

str

In [ ]:
type(int_a)

int

In [ ]:
int_a + 3

237

In [ ]:
output_a = int("52")
output_b = float("52.273")

print(type(output_a))
print(type(output_b))

<class 'int'>
<class 'float'>

In [ ]:
input_a = float(input("첫 번째 숫자>"))
input_b = float(input("두 번째 숫자>"))

첫 번째 숫자>123
두 번째 숫자>47

In [ ]:
input_a + input_b

170.0

##숫자를 문자열로 바꾸기

In [ ]:
output_a = str(52)
output_b = str(52.273)

print(type(output_a))

<class 'str'>

In [ ]:
print(type(output_b))

<class 'str'>

In [ ]:
output_a + output_b

'5252.273'

##inch 단위를 cm 단위로 변경하기

In [ ]:
raw_input = input("inch 단위의 숫자를 입력해주세요: ")

inch 단위의 숫자를 입력해주세요: 27

In [ ]:
inch = int(raw_input) ##input함수 넣었으니깐 int로 바꿔줘야 해
cm = inch * 2.54
print(inch)

27

#02-4. 숫자와 문자열의 다양한 기능

앞으로 여러 가지 문자열 기능들을 살펴볼 텐데 절대로 모두 외우려고 하지 말자!

##문자열의 format() 함수
앞쪽에 있는 문자열의 {}기호가 format() 함수 괄호 앙네 있는 매개변수로 차례로 대치되면서 **숫자가 문자열이 된다**

In [ ]:
"{}".format(10)
"{} {}".format(10,20) #중괄호의ㅡ 개수와 format 함수 괄호 안 매개변수의 개수는 반드시 같아야 함

'10 20'

In [ ]:
string_a = "{}".format(10)
print(string_a)
print(type(string_a))

10
<class 'str'>

In [ ]:
#format()함수로 숫자를 문자열로 변환하기
format_a = "{}만원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만 원 만들기".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

In [ ]:
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만원
파이썬 열공하여 첫 연봉 5000만 원 만들기
3000 4000 5000
1 문자열 True

In [ ]:
print(type(format_d))

<class 'str'>

##format()함수의 다양한 기능

- 정수 출력의 다양한 형태

In [ ]:
# 정수
output_a = "{:d}".format(52)

In [ ]:
output_a

'52'

In [ ]:
output_b = "{:5d}".format(52) #특정 칸에 출력하기

In [ ]:
output_b #5칸을 빈칸으로 잡고 뒤에서부터 52라는 숫자를 채워

'   52'

In [ ]:
output_d = "{:05d}".format(52) #앞의 빈 곳을 0으로 채워
print(output_d)

00052

In [ ]:
output_e = "{:05d}".format(-52) #맨 앞자리를 부호로 채우고 나머지 빈 곳은 0으로 채움
print(output_e)

-0052

In [ ]:
#기호와 함께 출력하기
output_f = "{:+d}".format(52)
print(output_f)

+52

In [ ]:
output_g = "{:+d}".format(-52) #+를 붙이면 기호를 표시해
print(output_g)

-52

In [ ]:
output_h = "{: d}".format(52) #기호 부분 공백
print(output_h)

 52

- 부동 소수점 출력의 다양한 형태  
{:f}를 사용!

In [ ]:
output_a = "{:f}".format(52.273)

In [ ]:
output_a

'52.273000'

In [ ]:
output_b = "{:15f}".format(52.273)
print(output_b)

      52.273000

In [ ]:
output_a = "{:15.3f}".format(52.273) #소수점 셋째자리까지만!
print(output_a)

         52.273

- 의미 없는 소수점 제거하기  
{:g} 사용!

In [ ]:
output_a = 52.0
output_b = "{:g}".format(output_a)
print(output_b)

52

##대소문자 바꾸기: upper()와 lower()

In [ ]:
a = "Hello Python Programming"
a.upper()

'HELLO PYTHON PROGRAMMING'

In [ ]:
a.lower() #이 때 원본은 바뀌지 않아

'hello python programming'

In [ ]:
a

'Hello Python Programming'

##문자열 양옆의 공백 제거하기: strip()
- strip(): 문자열 양옆의 공백 제거
- lstrip(): 왼쪽 공백 제거
- rstrip(): 오른쪽 공백 제거

In [ ]:
input_a = """
  안녕하세요
문자열의 함수를 알아봅니다
"""
print(input_a)
print(input_a.strip())

  안녕하세요
문자열의 함수를 알아봅니다

안녕하세요
문자열의 함수를 알아봅니다

In [ ]:
print(input_a.strip())

안녕하세요
문자열의 함수를 알아봅니다

##문자열의 구성 파악하기: isOO()
모든 걸 다 외우려고 하진 마...

In [ ]:
print("TrainA10".isalnum())

True

In [ ]:
print("10".isdigit()) #문자열이 숫자로 인식될 수 있는지

True

In [ ]:
print("a".isdigit())

False

##문자열 찾기: find()와 rfind()
- find(): 왼쪽부터 찾아서 처음 등장하는 위치를 찾음
- rfind(): 오른쪽부터~

In [ ]:
output_a = "안녕안녕하세요".find("안녕")

In [ ]:
print(output_a)

0

In [ ]:
output_b = "안녕안녕하세요".rfind("안녕")
print(output_b)

2

##문자열과 in  연산자

In [ ]:
print("안녕" in "안녕하세요")

True

In [ ]:
print("잘자" in "안녕하세요")

False

##문자열 자르기: split()

In [ ]:
a = "10 20 30 40 50".split(" ") #split()함수 괄호 안의 문자열인 공백을 기준으로 자른다

In [ ]:
print(a) #실행결과로 리스트가 나온다

['1', ' 2', ' 3', ' 4', ' 5', '']

In [ ]:
a = "10 20 30 40 50".split("0")

In [ ]:
a

['1', ' 2', ' 3', ' 4', ' 5', '']